.table {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #000;
    text-align: center;
    background: #FFF;
    cursor: pointer;
}

ul {
    list-style:none;
}
 
li {
    float: left;
    margin-right: 20px;
}